@model LindaSonrisa.Models.Views.Producto
@{ ViewData["Title"] = "Productos";
    IEnumerable<LindaSonrisa.Models.Context.Producto> productos = ViewData["Productos"] as IEnumerable<LindaSonrisa.Models.Context.Producto>; }

<form name="Create" type="hidden" asp-action="Create" enctype="multipart/form-data"></form>
<form name="Edit" type="hidden" asp-action="Edit" enctype="multipart/form-data"></form>
<input name="ChangeStatus" type="hidden" value='@Url.Action("ChangeStatus","Productos")'>
<input name="Proveedores" value="@Url.Action("GetAll","Proveedores")" hidden />
<input name="TipoProductos" value="@Url.Action("GetAll","Categorias",new { categoria = 0 })" hidden />

<div class="content">
    <div class="breadcrumb-wrapper breadcrumb-contacts">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-0">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <span class="mdi mdi-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>
                            <span class="mdi mdi-package-variant-closed"></span>
                        </a>
                    </li>
                </ol>
            </nav>

        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="loadModalAdd()">
                <i class=" mdi mdi-plus mr-1"></i> Nuevo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom d-flex justify-content-between">
                    <h2>Nuestros productos</h2>
                </div>
                <div class="card-body">
                    <div class="basic-data-table">
                        <table id="basic-data-table" class="table nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Image)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descuento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EsPromocion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EstaInactivo)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in productos)
                                {
                    <tr>
                        <td style="vertical-align: middle;">
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td style="vertical-align: middle;">
                            @if (item.FileId is null)
                            {
            @Html.Raw("No tiene imagen");
        }
        else
        {
<img src="https://drive.google.com/uc?export=view&id=@item.FileId" class="mr-3 img-fluid rounded" onerror="this.onerror = null; this.src = '@Url.Content(ViewBag.NotFoundImage)'; this.width = 50; this.heigth=50" alt="">}
                        </td>
                        <td style="vertical-align: middle;">
                            @Html.Raw(String.Format("{0:P1}", item.Descuento).Replace(",0", ""))
                        </td>
                        <td style="vertical-align: middle;">
                            @Html.Raw((item.EsPromocion == '1') ? "Si" : "No")
                        </td>
                        <td style="vertical-align: middle;">
                            @Html.Raw((item.EstaInactivo == true) ? "Inactivo" : "Activo")
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn btn-primary" type="button" style="padding:0.3rem 0.5rem" onclick="loadModalView('@Url.Action("Get","Productos",new {id=item.Id})')">
                                <i class="mdi mdi-eye"></i>
                            </button>
                            <button class="btn btn-danger" type="button" style="padding:0.3rem 0.5rem" onclick="actionDelete('@Url.Action("Delete","Productos",new {id=item.Id})')">
                                <i class="mdi mdi-delete"></i>
                            </button>
                        </td>
                    </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form id="ActionForm" autocomplete="off">
                <div id="modal-header" class="modal-header px-4">
                    <h5 class="modal-title" id="exampleModalLongTitle2">Crear producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body px-4">
                    <div id="ValidationSummary"></div>
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="HasImage" type="hidden" />
                    <input asp-for="EstaInactivo" type="hidden" />
                    <div class="row mb-2">
                        <div class="col-lg-6">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <a style="color: #fe5461;">
                                        (<span class="mdi mdi-asterisk"></span>)
                                    </a><label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" required maxlength="50" placeholder="Ej. Cepillo de dientes" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label asp-for="Image" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <a id="remove-file" href="javascript:0" style="color:transparent;" onclick="removeFile()">
                                                <span class="input-group-text" style="background-color:#e9ecef; color:#8a909d; border-radius: 0rem; padding:0.10rem 0.75rem">
                                                    <i class="mdi mdi-delete-circle" style="font-size:1.5rem;"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="custom-file">
                                            <input asp-for="Image" class="custom-file-input" style="color:#8a909d;" lang="es" onchange='getFileName(this)' accept="image/x-png,image/jpeg">
                                            <label asp-for="Image" class="custom-file-label" style="color:#8a909d;" id="customFile">Seleccionar archivo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <a style="color: #fe5461;">
                                        (<span class="mdi mdi-asterisk"></span>)
                                    </a><label asp-for="StockCritico" class="control-label"></label>
                                    <input asp-for="StockCritico" class="form-control" min="0" max="999999999" placeholder="0" value="0" required />
                                </div>
                                <div class="col-md-12 mb-3">
                                    <a style="color: #fe5461;">
                                        (<span class="mdi mdi-asterisk"></span>)
                                    </a>
                                    <label asp-for="ProveedorId" class="control-label"></label>
                                    <select asp-for="ProveedorId" class="form-control" required>
                                        <option hidden selected value="">Selecciona una opción</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <a style="color: #fe5461;">
                                        (<span class="mdi mdi-asterisk"></span>)
                                    </a>
                                    <label asp-for="Descuento" class="control-label"></label> <a>%</a>
                                    <input asp-for="Descuento" type='number' class="form-control" step='1' min="0" max="99" placeholder="0" value="0" required />
                                </div>
                                <div class="col-md-12 mb-3">
                                    <a style="color: #fe5461;">
                                        (<span class="mdi mdi-asterisk"></span>)
                                    </a><label asp-for="TipoProductoId" class="control-label"></label>
                                    <select asp-for="TipoProductoId" class="form-control" required>
                                        <option hidden selected value="">Selecciona una opción</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <a style="color: #fe5461;">
                                (<span class="mdi mdi-asterisk"></span>)
                            </a>
                            <label asp-for="Descripcion" class="control-label"></label>
                            <textarea asp-for="Descripcion" class="form-control" style="resize: none;" rows="5" tabindex="7" maxlength="250" placeholder="Máximo 250 caracteres" required></textarea>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label asp-for="Comentario" class="control-label"></label>
                            <textarea asp-for="Comentario" class="form-control" style="resize: none;" rows="5" tabindex="7" maxlength="250" placeholder="Máximo 250 caracteres"></textarea>
                        </div>
                        <div class="col-md-12">
                            <a style="color: #fe5461;">
                                (<span class="mdi mdi-asterisk"></span>)
                            </a>
                            <label asp-for="EsPromocion" class="control-label">
                                @Html.DisplayNameFor(model => model.EsPromocion)
                            </label>
                        </div>
                        <div class="col-md-12 mb-5">
                            <label class="switch switch-text switch-primary  form-control-label">
                                <input asp-for="EsPromocion" class="switch-input form-check-input" value="false">
                                <span class="switch-label" data-on="Si" data-off="No"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <a style="color: #fe5461;">
                                (<span class="mdi mdi-asterisk"></span>)
                            </a><label style="color:black" class="control-label">Campos obligatorios</label>
                        </div>
                    </div>
                </div>
                <div id="modal-footer" class="modal-footer px-4">
                    <button class="mb-1 btn btn-primary" type="button" onclick="resetForm()">
                        <i class="mdi mdi-broom"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-default" onclick="closeModel()">Cancelar</button>
                    <button id="SubmitButton" type="submit" class="btn btn-primary btn-default">Enviar al formulario</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        jQuery(document).ready(function () {

            jQuery('#basic-data-table').DataTable({
                "aLengthMenu": [[10, 15, 20, -1], [10, 15, 20, "Todos"]],
                "pageLength": 10,
                "dom": '<"row justify-content-between top-information"lf>rt<"row justify-content-between bottom-information"ip><"clear">',
                "columns": [
                    null,
                    { "orderable": false, "width": "20%" },
                    null,
                    null,
                    null,
                    { "orderable": false, "width": "5%" },
                ],
                "language": {
                    "lengthMenu": "Mostrar_MENU_registros",
                    "zeroRecords": "No se encontró nada",
                    "info": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registro(s)",
                    "infoEmpty": "No hay registros",
                    "emptyTable": "No hay registros para mostrar",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar",
                    "infoFiltered": "(filtrado de un total de _MAX_ registro(s))",
                    "paginate": {
                        "first": "Primera",
                        "last": "Última",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
            });
        });

        function getFileName(elm) {
            var fn = $(elm).val();
            var fileName = fn.match(/[^\\/]*$/)[0];

            if (fileName.length > 25) {
                $('#customFile').html(fileName.substring(0, 25) + '...');
            } else {

                if (fileName.length > 0) {
                    $('#customFile').html(fileName);
                } else {
                    $('#customFile').html('Seleccionar archivo');
                }
            }
        }

        function resetForm() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "Se reiniciará el formulario",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3fabad',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, reinícialo!',
                cancelButtonText: 'Cancelar'

            }).then((result) => {
                if (result.value) {
                    reset();
                }
            })
        }

        function reset() {
            $('#ActionForm').get(0).reset();
            $('#EsPromocion').attr('checked', false);
            $("#ValidationSummary").html('');
        }

        function removeFile() {
            $('#HasImage').val(false);
            $('#Image').val('');
            $('#customFile').html('Seleccionar archivo');
        }

        function loadModalAdd() {

            var url = $('input[name="Proveedores"]').val();

            $.ajax({
                url: url,
                type: "get",
                success: function (data) {
                    if (data.success) {
                        $('#ProveedorId').html(`<option hidden selected value="">Selecciona una opción</option>`);
                        $.each(data.proveedores, function (idx, option) {
                            if (!option.estaInactivo) {
                                $('#ProveedorId').append('<option value="' + option.id + '">' + option.nombre + '</option>');
                            }
                        });

                        if ($('#ProveedorId option').length === 1) {
                            Swal.fire({
                                icon: 'error',
                                title: 'No se encontró proveedores activos',
                                confirmButtonColor: '#3fabad',
                            })
                        }

                        url = $('input[name="TipoProductos"]').val();

                        $.ajax({
                            url: url,
                            type: "get",
                            success: function (data) {
                                if (data.success) {
                                    $('#TipoProductoId').html(`<option hidden selected value="">Selecciona una opción</option>`);
                                    $.each(data.tipoProductos, function (idx, option) {
                                        $('#TipoProductoId').append('<option value="' + option.id + '">' + option.titulo + '</option>');
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: data.message,
                                        confirmButtonColor: '#3fabad',
                                    })
                                }
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                            confirmButtonColor: '#3fabad',
                            onClose: () => {
                                url = $('input[name="TipoProductos"]').val();

                                $.ajax({
                                    url: url,
                                    type: "get",
                                    success: function (data) {
                                        if (data.success) {
                                            $('#TipoProductoId').html(`<option hidden selected value="">Selecciona una opción</option>`);
                                            $.each(data.tipoProductos, function (idx, option) {
                                                $('#TipoProductoId').append('<option value="' + option.id + '">' + option.titulo + '</option>');
                                            });
                                        } else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: data.message,
                                                confirmButtonColor: '#3fabad',
                                            })
                                        }
                                    }
                                });
                            }
                        })
                    }
                }
            });

            var content = `<h5 class="modal-title" id="exampleModalLongTitle2">Crear producto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"">
                                        <span aria-hidden="true">×</span>
                                    </button>`;

            var header = $('#modal-header');
            header.attr("class", "modal-header px-4");

            header.html(content);

            $("#ActionForm").attr("action", $("[name='Create']").attr("action"));
            $("#ActionForm").attr("method", $("[name='Create']").attr("method"));
            $("#ActionForm").attr("enctype", $("[name='Create']").attr("enctype"));
            $("#ActionForm").attr("name", "CreateForm");

            $('#Nombre').prop("disabled", false);
            $('#Precio').prop("disabled", false);
            $('#Descripcion').prop("disabled", false);
            $('#Comentario').prop("disabled", false);
            $('#EsPromocion').prop("disabled", false);
            $('#Descuento').prop("disabled", false);
            $('#Image').prop("disabled", false);
            $('#EsPromocion').prop("disabled", false);
            $("#ProveedorId").prop("disabled", false);
            $("#TipoProductoId").prop("disabled", false);
            $("#StockCritico").prop("disabled", false);
            $('#remove-file').show();

            $('#modal-footer').show();

            $('#modal-model').modal({
                backdrop: 'static'
            });

        }

        function loadModalView(url) {

            $.ajax({
                type: "Get",
                url: url,
            }).done(function (data) {

                if (data.success) {

                    var producto = data.producto;

                    $('#Id').val(producto.id);
                    $('#HasImage').val(producto.hasImage);
                    $('#Nombre').val(producto.nombre);
                    $('#Precio').val(producto.precio);
                    $('#Descripcion').val(producto.descripcion);
                    $('#Comentario').val(producto.comentario);
                    $('#EstaInactivo').val(producto.estaInactivo);
                    $('#StockCritico').val(producto.stockCritico);

                    var url = $('input[name="Proveedores"]').val();

                    $.ajax({
                        url: url,
                        type: "get",
                        success: function (data) {
                            $('#ProveedorId').html(`<option hidden selected value="">Selecciona una opción</option>`);
                            $.each(data.proveedores, function (idx, option) {
                                if (!option.estaInactivo || option.id === producto.proveedorId) {
                                    $('#ProveedorId').append('<option value="' + option.id + '">' + option.nombre + '</option>');
                                }
                            });

                            $('#ProveedorId').val(producto.proveedorId);
                        }
                    });

                    url = $('input[name="TipoProductos"]').val();

                    $.ajax({
                        url: url,
                        type: "get",
                        success: function (data) {
                            $('#TipoProductoId').html(`<option hidden selected value="">Selecciona una opción</option>`);
                            $.each(data.tipoProductos, function (idx, option) {
                                $('#TipoProductoId').append('<option value="' + option.id + '">' + option.titulo + '</option>');
                            });

                            $('#TipoProductoId').val(producto.tipoProductoId);
                        }
                    });

                    if (producto.esPromocion) {
                        $('#EsPromocion').attr('checked', true);
                        $('#EsPromocion').val("true");
                    }

                    $('#Descuento').val((producto.descuento * 100).toFixed());

                    if (producto.hasImage) {
                        $('#customFile').html("Tiene una foto asociada");
                    } else {
                        $('#customFile').html("No tiene una foto asociada")
                    }

                    var content = `<button type="button" class="btn-edit-icon" onclick="loadModalEdit()">
                                      <i class="mdi mdi-pencil"></i>
                                    </button>
                                    <div class="dropdown">
                                      <button class="btn-dots-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="javascript:0" onclick="actionChange()">Cambiar estado</a>
                                      </div>
                                    </div>
                                    <button type="button" class="btn-close-icon" data-dismiss="modal" aria-label="Close"">
                                      <i class="mdi mdi-close"></i>
                                    </button>`;

                    var header = $('#modal-header');

                    header.attr("class", "modal-header justify-content-end border-bottom-0");
                    header.html(content);

                    $('#Nombre').prop("disabled", true);
                    $('#Precio').prop("disabled", true);
                    $('#Descripcion').prop("disabled", true);
                    $('#Comentario').prop("disabled", true);
                    $('#EsPromocion').prop("disabled", true);
                    $('#Descuento').prop("disabled", true);
                    $('#Image').prop("disabled", true);
                    $('#EsPromocion').prop("disabled", true);
                    $("#ProveedorId").prop("disabled", true);
                    $("#TipoProductoId").prop("disabled", true);
                    $("#StockCritico").prop("disabled", true);
                    $('#remove-file').hide();

                    $('#modal-footer').hide();


                    $('#modal-model').modal({
                        backdrop: 'static'
                    });

                }
                else {

                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message,
                        confirmButtonColor: '#3fabad'
                    });

                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

                switch (jqXHR.status) {
                    case 400:
                        alert("Favor completar las variables correctamente");
                        break;
                    case 500:
                        alert("Se ha generado un error en el servidor");
                        break;
                    case 403:
                        alert("Ud no está autorizado para ver esta informacion");
                        break;
                    default:
                        break;
                }
            });
        }

        function loadModalEdit() {

            $("#ActionForm").attr("action", $("[name='Edit']").attr("action"));
            $("#ActionForm").attr("method", $("[name='Edit']").attr("method"));
            $("#ActionForm").attr("enctype", $("[name='Edit']").attr("enctype"));
            $("#ActionForm").attr("name", "EditForm");

            $('#Nombre').prop("disabled", false);
            $('#Precio').prop("disabled", false);
            $('#Descripcion').prop("disabled", false);
            $('#Comentario').prop("disabled", false);
            $('#EsPromocion').prop("disabled", false);
            $('#Descuento').prop("disabled", false);
            $('#Image').prop("disabled", false);
            $('#EsPromocion').prop("disabled", false);
            $("#ProveedorId").prop("disabled", false);
            $("#TipoProductoId").prop("disabled", false);
            $("#StockCritico").prop("disabled", false);
            $('#remove-file').show();


            $('#modal-footer').show();
        }

        function closeModel() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "Se cerrará el formulario",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3fabad',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, ciérralo!',
                cancelButtonText: 'Cancelar'

            }).then((result) => {
                if (result.value) {
                    $('#modal-model').modal('hide');
                }
            })
        }

        $('#modal-model').on('hidden.bs.modal', function () {
            reset();
        })


        $("#EsPromocion").on("click", function () {
            if ($(this).val() == "false") {
                $(this).val("true");
            } else {
                $(this).val("false");
            }
        });

        $(function () {
            $("#ActionForm").submit(function (e) {
                e.preventDefault();

                if ($(this).attr("name") == "CreateForm") {

                    Swal.fire({
                        title: '¿Estás listo?',
                        text: "Se enviará el formulario",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3fabad',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, envíalo!',
                        cancelButtonText: 'No'

                    }).then((result) => {
                        if (result.value) {
                            var formAction = $(this).attr("action");
                            var formMethod = $(this).attr("method");
                            var token = $("[name='__RequestVerificationToken']").val();
                            $("#SubmitButton").prop("disabled", true);
                            $("#ValidationSummary").html("");

                            var descuento = $("#Descuento").val();


                            if (descuento > 0) {
                                descuento = descuento / 100;
                            }


                            var formData = new FormData();
                            formData.append('__RequestVerificationToken', token);
                            formData.append($('#Nombre').attr("name"), $('#Nombre').val());
                            formData.append('NombreNormalizado', $('#Nombre').val().toUpperCase());
                            formData.append($('#Precio').attr("name"), $('#Precio').val());
                            formData.append($('#Descripcion').attr("name"), $('#Descripcion').val());
                            formData.append($('#Comentario').attr("name"), $('#Comentario').val());
                            formData.append($('#EsPromocion').attr("name"), $('#EsPromocion').val());
                            formData.append($('#ProveedorId').attr("name"), $('#ProveedorId').val());
                            formData.append($('#TipoProductoId').attr("name"), $('#TipoProductoId').val());
                            formData.append($('#StockCritico').attr("name"), $('#StockCritico').val());
                            formData.append($('#Descuento').attr("name"), descuento.toString().replace('.', ','));
                            formData.append('EstaInactivo', false);
                            formData.append($('#Image').attr("name"), $('#Image')[0].files[0]);

                            $.ajax({
                                url: formAction,
                                data: formData,
                                processData: false,
                                contentType: false,
                                type: formMethod
                            }).done(function (data) {

                                if (data.success) {

                                    let timerInterval
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.title,
                                        html: 'Voy actualizar la pagina en <b></b> milisegundos.',
                                        timer: 2000,
                                        timerProgressBar: true,
                                        onBeforeOpen: () => {
                                            Swal.showLoading()
                                            timerInterval = setInterval(() => {
                                                const content = Swal.getContent()
                                                if (content) {
                                                    const b = content.querySelector('b')
                                                    if (b) {
                                                        b.textContent = Swal.getTimerLeft()
                                                    }
                                                }
                                            }, 100)
                                        },
                                        onClose: () => {
                                            clearInterval(timerInterval);
                                            location.reload();
                                        }
                                    }).then((result) => {
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            location.reload();
                                        }
                                    })
                                }
                                else {
                                    $("#SubmitButton").prop("disabled", false);

                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: data.message,
                                        confirmButtonColor: '#3fabad'
                                    });

                                    if (typeof data.errors !== 'undefined') {
                                        displayValidationErrors(data.errors);
                                    }

                                }
                            }).fail(function (jqXHR, textStatus, errorThrown) {

                                $("#SubmitButton").prop("disabled", false);

                                switch (jqXHR.status) {
                                    case 400:
                                        alert("Favor completar las variables correctamente");
                                        break;
                                    case 500:
                                        alert("Se ha generado un error en el servidor");
                                        break;
                                    case 403:
                                        alert("Ud no está autorizado para ver esta informacion");
                                        break;
                                    default:
                                        break;
                                }
                            });
                        }
                    })

                }

                if ($(this).attr("name") == "EditForm") {

                    Swal.fire({
                        title: '¿Estás listo?',
                        text: "Se enviará el formulario",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3fabad',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, envíalo!',
                        cancelButtonText: 'No'

                    }).then((result) => {
                        if (result.value) {
                            var formAction = $(this).attr("action");
                            var formMethod = $(this).attr("method");
                            var token = $("[name='__RequestVerificationToken']").val();
                            $("#SubmitButton").prop("disabled", true);
                            $("#ValidationSummary").html("");

                            var descuento = $("#Descuento").val();


                            if (descuento > 0) {
                                descuento = descuento / 100;
                            }


                            var formData = new FormData();
                            formData.append('__RequestVerificationToken', token);
                            formData.append($('#Id').attr("name"), $('#Id').val());
                            formData.append($('#HasImage').attr("name"), $('#HasImage').val());
                            formData.append($('#Nombre').attr("name"), $('#Nombre').val());
                            formData.append('NombreNormalizado', $('#Nombre').val().toUpperCase());
                            formData.append($('#Precio').attr("name"), $('#Precio').val());
                            formData.append($('#Descripcion').attr("name"), $('#Descripcion').val());
                            formData.append($('#Comentario').attr("name"), $('#Comentario').val());
                            formData.append($('#EsPromocion').attr("name"), $('#EsPromocion').val());
                            formData.append($('#ProveedorId').attr("name"), $('#ProveedorId').val());
                            formData.append($('#TipoProductoId').attr("name"), $('#TipoProductoId').val());
                            formData.append($('#StockCritico').attr("name"), $('#StockCritico').val());
                            formData.append($('#Descuento').attr("name"), descuento.toString().replace('.', ','));
                            formData.append($('#Image').attr("name"), $('#Image')[0].files[0]);

                            $.ajax({
                                url: formAction,
                                data: formData,
                                processData: false,
                                contentType: false,
                                type: formMethod
                            }).done(function (data) {

                                if (data.success) {

                                    let timerInterval
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.title,
                                        html: 'Voy actualizar la pagina en <b></b> milisegundos.',
                                        timer: 2000,
                                        timerProgressBar: true,
                                        onBeforeOpen: () => {
                                            Swal.showLoading()
                                            timerInterval = setInterval(() => {
                                                const content = Swal.getContent()
                                                if (content) {
                                                    const b = content.querySelector('b')
                                                    if (b) {
                                                        b.textContent = Swal.getTimerLeft()
                                                    }
                                                }
                                            }, 100)
                                        },
                                        onClose: () => {
                                            clearInterval(timerInterval);
                                            location.reload();
                                        }
                                    }).then((result) => {
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            location.reload();
                                        }
                                    })
                                }
                                else {
                                    $("#SubmitButton").prop("disabled", false);

                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: data.message,
                                        confirmButtonColor: '#3fabad'
                                    });

                                    if (typeof data.errors !== 'undefined') {
                                        displayValidationErrors(data.errors);
                                    }

                                }
                            }).fail(function (jqXHR, textStatus, errorThrown) {

                                $("#SubmitButton").prop("disabled", false);

                                switch (jqXHR.status) {
                                    case 400:
                                        alert("Favor completar las variables correctamente");
                                        break;
                                    case 500:
                                        alert("Se ha generado un error en el servidor");
                                        break;
                                    case 403:
                                        alert("Ud no está autorizado para ver esta informacion");
                                        break;
                                    default:
                                        break;
                                }
                            });
                        }
                    })
                }
            });
        });

        function displayValidationErrors(errors) {
            var $div = $("#ValidationSummary");

            $div.html(`<div class="alert alert-danger alert-dismissible" role="alert">
                                            <h4 class="alert-heading" style="margin-bottom: 1rem;">Errores!</h4>
                                            <div id="ListOfErors">
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                       </div >`);

            var $list = $("#ListOfErors");

            $list.empty();

            var $length = errors.length;

            $.each(errors, function (idx, errorMessage) {

                var $hr = '<hr>';

                if ((idx + 1) == $length) {
                    $hr = '';
                }

                $list.append('<p class="mt-1">' + errorMessage + '</p>' + $hr);
            });
        };

        function actionDelete(url) {
            var token = $("[name='__RequestVerificationToken']").val();

            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3fabad',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, elimínalo!',
                cancelButtonText: 'Cancelar'

            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "Delete",
                        data: {
                            __RequestVerificationToken: token,
                        },
                        url: url,
                    }).done(function (data) {
                        if (data.success) {
                            let timerInterval
                            Swal.fire({
                                icon: 'success',
                                title: data.title,
                                html: 'Voy actualizar la pagina en <b></b> milisegundos.',
                                timer: 2000,
                                timerProgressBar: true,
                                onBeforeOpen: () => {
                                    Swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        const content = Swal.getContent()
                                        if (content) {
                                            const b = content.querySelector('b')
                                            if (b) {
                                                b.textContent = Swal.getTimerLeft()
                                            }
                                        }
                                    }, 100)
                                },
                                onClose: () => {
                                    clearInterval(timerInterval);
                                    location.reload();
                                }
                            }).then((result) => {
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            let timerInterval
                            Swal.fire({
                                icon: 'error',
                                title: data.title,
                                html: 'Voy actualizar la pagina en <b></b> milisegundos.',
                                timer: 2000,
                                timerProgressBar: true,
                                onBeforeOpen: () => {
                                    Swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        const content = Swal.getContent()
                                        if (content) {
                                            const b = content.querySelector('b')
                                            if (b) {
                                                b.textContent = Swal.getTimerLeft()
                                            }
                                        }
                                    }, 100)
                                },
                                onClose: () => {
                                    clearInterval(timerInterval);
                                    location.reload();
                                }
                            }).then((result) => {
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    location.reload();
                                }
                            })
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("code http", jqXHR.status)
                        switch (jqXHR.status) {
                            case 400:
                                alert("Favor completar las variables correctamente");
                                break;
                            case 500:
                                alert("Se ha generado un error en el servidor");
                                break;
                            case 403:
                                alert("Ud no está autorizado para ver esta informacion");
                                break;
                            default:
                                break;
                        }
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Cancelado',
                        text: 'El elemento seleccionado no ha sido eliminado',
                        confirmButtonColor: '#3fabad',
                    })
                }
            })
        }

        function actionChange() {
            var token = $("[name='__RequestVerificationToken']").val();

            var estado;

            if ($('#EstaInactivo').val() == 'false') {
                estado = 'Activo';
            }

            if ($('#EstaInactivo').val() == 'true') {
                estado = 'Inactivo';
            }

            var url = $('input[name="ChangeStatus"]').val();

            Swal.fire({
                title: '¿Estás seguro?',
                text: `El estado actual es: ${estado}`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3fabad',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, cámbialo!',
                cancelButtonText: 'Cancelar'

            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "Post",
                        data: {
                            __RequestVerificationToken: token,
                            id: $('#Id').val(),
                        },
                        url: url,
                    }).done(function (data) {
                        if (data.success) {
                            let timerInterval
                            Swal.fire({
                                icon: 'success',
                                title: data.title,
                                html: 'Voy actualizar la pagina en <b></b> milisegundos.',
                                timer: 2000,
                                timerProgressBar: true,
                                onBeforeOpen: () => {
                                    Swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        const content = Swal.getContent()
                                        if (content) {
                                            const b = content.querySelector('b')
                                            if (b) {
                                                b.textContent = Swal.getTimerLeft()
                                            }
                                        }
                                    }, 100)
                                },
                                onClose: () => {
                                    clearInterval(timerInterval);
                                    location.reload();
                                }
                            }).then((result) => {
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            let timerInterval
                            Swal.fire({
                                icon: 'error',
                                title: data.title,
                                html: 'Voy actualizar la pagina en <b></b> milisegundos.',
                                timer: 2000,
                                timerProgressBar: true,
                                onBeforeOpen: () => {
                                    Swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        const content = Swal.getContent()
                                        if (content) {
                                            const b = content.querySelector('b')
                                            if (b) {
                                                b.textContent = Swal.getTimerLeft()
                                            }
                                        }
                                    }, 100)
                                },
                                onClose: () => {
                                    clearInterval(timerInterval);
                                    location.reload();
                                }
                            }).then((result) => {
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    location.reload();
                                }
                            })
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("code http", jqXHR.status)
                        switch (jqXHR.status) {
                            case 400:
                                alert("Favor completar las variables correctamente");
                                break;
                            case 500:
                                alert("Se ha generado un error en el servidor");
                                break;
                            case 403:
                                alert("Ud no está autorizado para ver esta informacion");
                                break;
                            default:
                                break;
                        }
                    });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Cancelado',
                        text: 'El elemento seleccionado no ha cambiado su estado',
                        confirmButtonColor: '#3fabad',
                    })
                }
            })
        }

        jQuery(document).ajaxStart(function () {
            NProgress.configure({ showSpinner: false });
            NProgress.start();
        });

        jQuery(document).ajaxStop(function () {
            NProgress.done();
        });
    </script>
}